fastapi>=0.110.0
uvicorn>=0.28.0
sqlalchemy>=2.0.28
asyncpg>=0.29.0
geoalchemy2>=0.14.0
shapely>=2.0.3
alembic>=1.13.1
pydantic>=2.6.4
python-dotenv>=1.0.1
numpy
huggingface_hub
onnxruntime>=1.18.0
onnx>=1.16.0
opencv-python-headless>=4.9.0
pillow
python-multipart
